{% load static %}

<html>


    <head>
        <title>68SentinelsFMS</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static '/bootstrap/css/custom.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->


        <script src="{% static '/bootstrap/jquery-3.4.1.slim.min.js' %}"></script>
        <script src="{% static '/bootstrap/popper.min.js' %}"></script>
        <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
        <style>
        ul.ks-cboxtags {
          list-style: none;
          padding: 20px;
        }
        ul.ks-cboxtags li{
          display: inline;
        }
        ul.ks-cboxtags li label{
          display: inline-block;
          background-color: rgba(255, 255, 255, 0.9);
          border: 2px solid rgba(0, 0, 0, 0.3);
          color: #000000;
          border-radius: 25px;
          white-space: nowrap;
          margin: 3px 0px;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-tap-highlight-color: transparent;
          transition: all .2s;
        }

        ul.ks-cboxtags li label {
            padding: 8px 12px;
            cursor: pointer;
        }

        ul.ks-cboxtags li label::before {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 12px;
            padding: 2px 6px 2px 2px;
            content: "\f067";
            transition: transform .3s ease-in-out;
        }

        ul.ks-cboxtags li input[type="radio"]:checked + label::before {
            content: "\f00c";
            transform: rotate(-360deg);
            transition: transform .3s ease-in-out;
        }

        ul.ks-cboxtags li input[type="radio"]:checked + label {
            border: 2px solid #122542;
            background-color: #000000;
            color: #fff;
            transition: all .2s;
        }

        ul.ks-cboxtags li input[type="radio"] {
          display: absolute;
        }
        ul.ks-cboxtags li input[type="radio"] {
          position: absolute;
          opacity: 0;
        }
        ul.ks-cboxtags li input[type="radio"]:focus + label {
          border: 2px solid #0331ca;
        }



        
        
        ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
            content: "\f00c";
            transform: rotate(-360deg);
            transition: transform .3s ease-in-out;
        }

        ul.ks-cboxtags li input[type="checkbox"]:checked + label {
            border: 2px solid #122542;
            background-color: #000000;
            color: #fff;
            transition: all .2s;
        }

        ul.ks-cboxtags li input[type="checkbox"] {
          display: absolute;
        }
        ul.ks-cboxtags li input[type="checkbox"] {
          position: absolute;
          opacity: 0;
        }
        ul.ks-cboxtags li input[type="checkbox"]:focus + label {
          border: 2px solid #0331ca;
        }

        </style>

    </head>
</html>

<body>
    <div class="navbar navbar-dark bg-custom mb-3" style="background-color: #444444;">
        <div class="col-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#fullHeightModalRight" style="background-color:#4444; color:white"><b>
                <img src="{% static 'media/haha.png' %}" alt="haha" width="40" height="40">
            </b></button>
            
            <!-- Full Height Modal Right -->
            <div class="modal fade right" id="fullHeightModalRight">
            
                <div class="modal-dialog">
                <div class="modal-content ">

                    <div class="modal-header">
                        <div class="col-3"></div>
                            <div class="col-9">
                                <h4>NAVIGATION BAR</h4>
                               
                            </div>
                    </div>

                    <div class="modal-body">
                        <div>
                            <ul class="nav justify-content-center">
                                <li><a href="{% url 'main_menu' %}" class="btn">Main Menu</a></li>
                            </ul>

                            <ul class="nav justify-content-center">
                              <li><a class="btn" data-toggle="collapse" href="#input" role="button">Input Screens</a></li>
                            </ul>
                              <div class="collapse" id="input">
                                <div class="card card-body">
                                  <ul class="nav justify-content-center">
                                      <li><a href="{% url 'Input_VDetails' %}" class="btn">Input Vehicle Details</a></li>
                                  </ul>
                                  <ul class="nav justify-content-center">
                                      <li><a href="{% url 'Input_VSpecs' %}" class="btn">Input Vehicle Specifications</a></li>
                                  </ul>
                                  <ul class="nav justify-content-center">
                                      <li><a href="{% url 'Input_DDetails' %}" class="btn">Input Driver Details</a></li>
                                  </ul>
                                  <ul class="nav justify-content-center">
                                    <li><a href="{% url 'Input_MSched' %}" class="btn">Input Maintenance Schedule</a></li>
                                </ul>
                                <ul class="nav justify-content-center">
                                  <li><a href="{% url 'Input_Deployment' %}" class="btn">Input Deployment Schedule</a></li>
                              </ul>
                                </div>
                              </div>

                            <ul class="nav justify-content-center">
                              
                              <li><a class="btn" data-toggle="collapse" href="#view" role="button">View Screens</a></li>
                            </ul>
                              <div class="collapse" id="view">
                                <div class="card card-body">
                                  <ul class="nav justify-content-center">
                                    <li><a href="{% url 'Vdetails' %}" class="btn">View Vehicle Details</a></li>
                                  </ul>
                                  <ul class="nav justify-content-center">
                                      <li><a href="{% url 'Vspecs' %}" class="btn">View Vehicle Specifications</a></li>
                                  </ul>
                                  <ul class="nav justify-content-center">
                                      <li><a href="{% url 'Ddetails' %}" class="btn">View Driver Details</a></li>
                                  </ul>
                                  <ul class="nav justify-content-center">
                                    <li><a href="{% url 'MSchedPage' %}" class="btn">View Maintenance Schedule</a></li>
                                  </ul>
                                  <ul class="nav justify-content-center">
                                    <li><a href="{% url 'DeploymentPage' %}" class="btn">View Deployment Schedule</a></li>
                                  </ul>
                                </div>
                              </div>                          

                            <ul class="nav justify-content-center">
                                <li><a href="{% url 'logout' %}" class="btn">Logout</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                </div>
            </div>
        </div>
        <div>
            <h2 class="text-center mt-2 ml-4"><a href="{% url 'main_menu' %}" style="color:white;text-decoration:none;font-family:Impact">68 SENTINEL</a></h2>
        </div>
          
        <div class="row">
          <div class="col-md-10 d-flex align-items-center ml-auto">


            <!------NOTIFICATIONS------->

            <div class="btn-group">
              {% if unread_rows_count == 0 %}
              <a type="button" class="m-3 text-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i><span class="badge badge-danger bell" ></span></a>
              {% else %}
              <a type="button" class="m-3 text-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i><span class="badge badge-danger bell" >{{ unread_rows_count }}</span></a>
              {% endif %}
              <div class="dropdown-menu dropdown-menu-right">
              
              <div class="list-group">
                
                {% for a_week in a_week_notif %}
                {% if a_week.status == 'unread' %}
                  <a href="{% url 'MSchedPage' id=a_week.id %}" class="font-weight-bold list-group-item list-group-item-action flex-column align-items-start" style="background-color: rgba(83, 173, 185, 0.349);">
                    
                    <div class="d-flex w-100 justify-content-between">
                      
                      <small>
                        
                        {{now|timesince:a_week.Date}} from now
                        
                      </small>
                      
                    </div>
                    <p class="mb-1">{{a_week.TypeofRepairandMaintenance}}</p>
                    <small>{{a_week.Date}}</small>
                  </a>
                  {% else %}

                  <a href="{% url 'MSchedPage' id=a_week.id %}" class="font-weight-bold list-group-item list-group-item-action flex-column align-items-start">
                    
                    <div class="d-flex w-100 justify-content-between">
                      
                      <small>
                        
                        {{now|timesince:a_week.Date}} from now
                        
                      </small>
                      
                    </div>
                    <p class="mb-1">{{a_week.TypeofRepairandMaintenance}}</p>
                    <small>{{a_week.Date}}</small>
                  </a>
                  {% endif %}
                  {% endfor %}
                  
                  
               
                
              </div>
              </div> 
            </div>






            <form class='input-group mt-3' method="POST" action="{% url 'SearchResults' %}"> {% csrf_token %}
              <input type="search" class="form-control rounded" placeholder="Search" name="searched">
              <div class="input-group-append">
        
                <select id="page" class="btn btn-secondary dropdown-toggle" name="page">
                    <option value="VD" name="page">Vehicle Details</option>
                    <option value="VS" name="page">Vehicle Specifications</option>
                    <option value="DD" name="page">Driver Details</option>
                    <option value="A" name="page">All</option>
                </select>

                <!--
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                    Filter by
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Vehicle Details</a>
                    <a class="dropdown-item" href="#">Vehicle Specifications</a>
                    <a class="dropdown-item" href="#">Driver Details</a>
                    <a class="dropdown-item" href="#">All</a>
                  </div>
                </div>
                !-->
        
                <button type="submit" class="btn btn-outline-secondary">search</button>
              </div>
            </form>
        
            <button type="button" class="btn btn-secondary ml-2" data-toggle="modal" data-target="#searchModal" style="background-color:#4444; color:white"><i class="fa fa-filter"></i></button>
          </div>
        </div>        
    
            <div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="searchModalLabel">Search Filters</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form method="POST" action="{% url 'FilteredSearchResults' %}"> {% csrf_token %}
                    <div class="modal-body">
                      <h5>Date Updated:</h5>
                      <div class="container">
                        <ul class="ks-cboxtags">
                          <li><input type="radio" id="oneday" name="date_updated" value="oneday"><label for="oneday">Last 24 Hours</label></li>
                          <li><input type="radio" id="thisweek" name="date_updated" value="thisweek"><label for="thisweek">This Week</label></li>
                          <li><input type="radio" id="thismonth" name="date_updated" value="thismonth"><label for="thismonth">This Month</label></li>
                          <li><input type="radio" id="alltime" name="date_updated" value="all"><label for="alltime">All Time</label></li>
                          
                        </ul>
                        
                      </div>
                      <hr>
                    </div>


                      <div class="modal-body">
                        <h5>Vehicle Model:</h5>
                        <div class="container">
                          <ul class="ks-cboxtags">
                            {% for vmodel in vehicle_model %}
                            <li><input type="checkbox" id= {{vmodel.VehicleModel}} name="vmodel" value="{{vmodel.VehicleModel}}"><label for={{vmodel.VehicleModel}}>{{vmodel.VehicleModel}}</label></li>
                          
                            {% endfor %}
                            <li><input type="checkbox" id="vmodelall" name="vmodel" value="all" onchange="handleAllCheckboxChange(this)"><label for="vmodelall">All Vehicle Models</label></li>
                            
                          </ul>
                          
                        </div>
                        <hr>
                      </div>

                      <div class="modal-body">
                        <h5>Vehicle Brand:</h5>
                        <div class="container">
                          <ul class="ks-cboxtags">
                            {% for vbrand in vehicle_brand %}
                            <li><input type="checkbox" id="{{vbrand.VehicleBrand}}" name="vbrand" value="{{vbrand.VehicleBrand}}"><label for="{{vbrand.VehicleBrand}}">{{vbrand.VehicleBrand}}</label></li>
                            {% endfor %}
                            <li><input type="checkbox" id="vbrandid4" name="vbrand" value="all" onchange="handleAllCheckboxChangeBrand(this)"><label for="vbrandid4">All Vehicle Brands</label></li>
                              
                          </ul>
                          
                        </div>
                        <hr>
                      </div>

                      <div class="modal-body">
                        <h5>Wheeler Type:</h5>
                        <div class="container">
                          <ul class="ks-cboxtags">
                          {% for vwheeler in vehicle_wheeler %}
                          <li><input type="checkbox" id="{{vwheeler.WheelerType}}" name="vwheeler" value="{{vwheeler.WheelerType}}"><label for="{{vwheeler.WheelerType}}">{{vwheeler.WheelerType}}</label></li>
                          {% endfor %}
                          <li><input type="checkbox" id="vwheeler4" name="vwheeler" value="all" onchange="handleAllCheckboxChangeWheeler(this)"><label for="vwheeler4">All Wheeler Types</label></li>
                          </ul>
                          
                        </div>
                        <hr>
                      </div>

                      <div class="modal-body">
                        <h5>Engine Type:</h5>
                        <div class="container">
                          <ul class="ks-cboxtags">
                            {% for vengine in vehicle_engine %}
                              <li><input type="checkbox" id="{{vengine.Engine}}" name="vengine" value="{{vengine.Engine}}"><label for="{{vengine.Engine}}">{{vengine.Engine}}</label></li>
                            {% endfor %}
                          <li><input type="checkbox" id="vengine4" name="vengine" value="all" onchange="handleAllCheckboxChangeEngine(this)"><label for="vengine4">All Engine Types</label></li>
                          </ul>
                        </div>
                        <hr>
                      </div>

                      <div class="modal-body">
                        <h5>Repairs Needed:</h5>
                        <div class="container">
                          <ul class="ks-cboxtags">
                            {% for vrepair in vehicle_repair %}
                              <li><input type="checkbox" id="{{vrepair.TypeofRepairandMaintenance}}" name="vrepair" value="{{vrepair.TypeofRepairandMaintenance}}"><label for="{{vrepair.TypeofRepairandMaintenance}}">{{vrepair.TypeofRepairandMaintenance}}</label></li>

                            {% endfor %}
                          <li><input type="checkbox" id="vrepair4" name="vrepair" value="all" onchange="handleAllCheckboxChangeRepair(this)"><label for="vrepair4">All Repairs</label></li>
                          </ul>
                        </div>
                        <hr>
                      </div>

                <div class="modal-footer">
                <button type="submit" class="btn btn-secondary">Apply Filters</button>
                </div>
              </form>

            </div>
            </div>
        </div>
    </div>


    <!---this function is for vehicle model---->
    <script>
      function handleAllCheckboxChange(checkbox) {
      const otherCheckboxes = document.querySelectorAll('input[type="checkbox"][name="vmodel"]:not([value="all"])');
      if (checkbox.checked) {
        otherCheckboxes.forEach(cb => {
          cb.disabled = true;
          cb.checked = false;
        });
      } else {
        otherCheckboxes.forEach(cb => {
          cb.disabled = false;
        });
      }
    }

    const otherCheckboxes = document.querySelectorAll('input[type="checkbox"][name="vmodel"]:not([value="all"])');
    otherCheckboxes.forEach(cb => {
      cb.addEventListener('change', () => {
        const allCheckbox = document.querySelector('input[type="checkbox"][name="vmodel"][value="all"]');
        if (otherCheckboxesChecked()) {
          allCheckbox.disabled = true;
          allCheckbox.checked = false;
        } else {
          allCheckbox.disabled = false;
        }
      });
    });

    </script>
    


    <!---this function is for vehicle brand---->
    <script>
      function handleAllCheckboxChangeBrand(checkbox) {
      const otherCheckboxes = document.querySelectorAll('input[type="checkbox"][name="vbrand"]:not([value="all"])');
      if (checkbox.checked) {
        otherCheckboxes.forEach(cb => {
          cb.disabled = true;
          cb.checked = false;
        });
      } else {
        otherCheckboxes.forEach(cb => {
          cb.disabled = false;
        });
      }
    }

    const otherCheckboxesBrand = document.querySelectorAll('input[type="checkbox"][name="vbrand"]:not([value="all"])');
    otherCheckboxesBrand.forEach(cb => {
      cb.addEventListener('change', () => {
        const allCheckbox = document.querySelector('input[type="checkbox"][name="vbrand"][value="all"]');
        allCheckbox.disabled = false;
      });
    });
    </script>


    <!---this function is for vehicle wheeler---->
    <script>
      function handleAllCheckboxChangeWheeler(checkbox) {
      const otherCheckboxes = document.querySelectorAll('input[type="checkbox"][name="vwheeler"]:not([value="all"])');
      if (checkbox.checked) {
        otherCheckboxes.forEach(cb => {
          cb.disabled = true;
          cb.checked = false;
        });
      } else {
        otherCheckboxes.forEach(cb => {
          cb.disabled = false;
        });
      }
    }

    const otherCheckboxesWheeler = document.querySelectorAll('input[type="checkbox"][name="vwheeler"]:not([value="all"])');
    otherCheckboxesWheeler.forEach(cb => {
      cb.addEventListener('change', () => {
        const allCheckbox = document.querySelector('input[type="checkbox"][name="vwheeler"][value="all"]');
        allCheckbox.disabled = false;
      });
    });
    </script>


    <!---this function is for vehicle engine---->
    <script>
      function handleAllCheckboxChangeEngine(checkbox) {
      const otherCheckboxes = document.querySelectorAll('input[type="checkbox"][name="vengine"]:not([value="all"])');
      if (checkbox.checked) {
        otherCheckboxes.forEach(cb => {
          cb.disabled = true;
          cb.checked = false;
        });
      } else {
        otherCheckboxes.forEach(cb => {
          cb.disabled = false;
        });
      }
    }

    const otherCheckboxesEngine = document.querySelectorAll('input[type="checkbox"][name="vengine"]:not([value="all"])');
    otherCheckboxesEngine.forEach(cb => {
      cb.addEventListener('change', () => {
        const allCheckbox = document.querySelector('input[type="checkbox"][name="vengine"][value="all"]');
        allCheckbox.disabled = false;
      });
    });
    </script>

    <!---this function is for vehicle repair---->
    <script>
      function handleAllCheckboxChangeRepair(checkbox) {
      const otherCheckboxes = document.querySelectorAll('input[type="checkbox"][name="vrepair"]:not([value="all"])');
      if (checkbox.checked) {
        otherCheckboxes.forEach(cb => {
          cb.disabled = true;
          cb.checked = false;
        });
      } else {
        otherCheckboxes.forEach(cb => {
          cb.disabled = false;
        });
      }
    }

    const otherCheckboxesRepair = document.querySelectorAll('input[type="checkbox"][name="vrepair"]:not([value="all"])');
    otherCheckboxesRepair.forEach(cb => {
      cb.addEventListener('change', () => {
        const allCheckbox = document.querySelector('input[type="checkbox"][name="vrepair"][value="all"]');
        allCheckbox.disabled = false;
  
      });
    });
    </script>
    


    <script>
      $(document).ready(function () {
          $('#imageUpload').change(function () {
              let reader = new FileReader();
              reader.onload = function () {
                  $('#imagePreview').attr('src', reader.result);
              }
              reader.readAsDataURL(event.target.files[0]);
          });
      });
  </script>
<div class="container-fluid">
  <div class="row">
      
      {% block content %}
      {% endblock %}

  </div>
</div>  
</body>
</html>