{% extends "FMSApp/base.html" %}
{% load static %}
{% block content %}

<div class="col-2">
    <ul class="nav" style="margin-left:30px">
        <li><a href="{% url 'main_menu' %}" class="btn">Back to Main Menu</a></li>
    </ul>
    <ul class="nav" style="margin-left:30px">
        <li><a href="{% url 'MSchedPage' %}" class="btn">Maintenance Schedule</a></li>
    </ul>
</div>

<div class="card col-4" style="margin-left:16.67%;background-color: #444444;">
    <div class="row breadcrumb justify-content-center" style="background-color:#444444;color:white">
        <div>
            <h3>Maintenance Schedule</h3>
            <p style="color:#B8B8B8;text-align: center;">Input Maintenance Schedule!</p>
        </div>
    </div>

    <form id="InputtingMaintenanceSchedule" method="POST" action="{% url 'Input_MSched' %}"> {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-8">
            <label style="color:white"><b>Date</b></label>
            <input type="date" class="form-control" name="date" id="date" placeholder="MM/DD/YR" required>
    <!--    <input type="submit"> -->
        </div>
    </div>
    <br>

    <div class="row justify-content-center">
        <div class="col-8">
            <label style="color:white;"><b>Type of Repair and Maintenance</b></label>
            <select class="form-control" name="select" id="select" onchange="showCustomInput()">
                <option value="Body Paint" id="Body Paint">Body Paint</option>
                <option value="Change Oil" id="Change Oil">Change Oil</option>
                <option value="Add Brake Fluid" id="Add Brake Fluid">Add Brake Fluid</option>
                <option value="customInput" id="customInputOption">Others</option>
            </select>
            <div id="customInputContainer" style="display:none">
                <input type="text" id="customInput" name="customInput" placeholder="Enter Option">
            </div>
            <script>
                function showCustomInput() {
                    var selectElement = document.getElementById("select");
                    var customInputContainer = document.getElementById("customInputContainer");
                    if (selectElement.value === "customInput") {
                        customInputContainer.style.display = "block";
                    } else {
                        customInputContainer.style.display = "none";
                    }
                }
            </script>

                  
    <!--     </select> -->  
            <br><br>
    <!--     <input type="submit" value="Submit"> --> 
        </div>
    </div>
    <br>

    <div class="row justify-content-center">
        <input type="submit" value="Submit" class="btn btn-secondary col-6" style="background-color:#242424">
    </div>
    </form>
    <br><br><br><br><br><br>
</div>

{% endblock %}


<!--    <input type="text" class="form-control" name="type_RnM" id="type_RnM" placeholder="Input Gas Consumption" required> -->


<!--
    <div class="row justify-content-center">
        <div class="col-8">
            <label style="color:white;"><b>Vehicle Brand</b></label>
            <input type="text" class="form-control" name="vB" id="vB" placeholder="Input Vehicle Brand" required>
        </div>
    </div>
    <br>

    <div class="row justify-content-center">
        <div class="col-8">
            <label style="color:white;"><b>Vehicle Model</b></label>
            <input type="text" class="form-control" name="vM" id="vM" placeholder="Input Vehicle Model" required>
        </div>
    </div>
    <br>
-->