{% extends "FMSApp/base.html" %}
{% load static %}

{% block content %}

<div class="container py-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="text-center mb-0">MAIN MENU</h1>
        <div>
            <a class="btn btn-dark mr-3" href="{% url 'Input_VDetails' %}">
                <i class="fa fa-plus"></i> Add  
            </a>
            <a class="btn btn-dark" style="color:white" href="{% url 'exportVDetails' %}"> Export </a>
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover text-center" style="color:rgb(21, 21, 21);">
        <thead>
            <tr>
              <th>Plate Number</th>
              <th>Vehicle Brand</th>
              <th>Vehicle Model</th>
              <th>Driver's Name</th>
              <th>Maintence Schedule</th>
              <th>Deployment Schedule</th>
              <th>Deployment Location</th>
            </tr>
        </thead>
        <tbody>
          {% for detail in ddetails %}
              <tr>
                  <td><a href="" data-toggle="modal" data-target="#show{{ detail.PlateNumber.PlateNumber }}">{{ detail.PlateNumber.PlateNumber }}</a> </td>
                  <td>{{ detail.PlateNumber.VehicleBrand }}</td>
                  <td>{{ detail.PlateNumber.VehicleModel }}</td>
                  {% for driver in ddriver %}
                    {% if driver.PlateNumber_id == detail.PlateNumber_id%}
                    <td>{{ driver.DriversName }}</td>
                    {% endif %}
                  {% endfor %}
                  {% for sched in msched %}
                    {% if sched.PlateNumber_id == detail.PlateNumber_id%}
                      <td>{{ sched.Date }}</td>
                    {% endif %}
                  {% endfor %}
                  {% for dep in deploy %}
                    {% if dep.PlateNumber_id == detail.PlateNumber_id%}
                        <td>{{ dep.Date }}</td>
                        <td>{{ dep.DeploymentLocation }}</td>
                    {% endif %}
                  {% endfor %}
              </tr>

              <div class="modal fade" id="show{{ detail.PlateNumber.PlateNumber }}">
                <div class="modal-dialog modal-xl ">
                  <div class="modal-content ">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">Details for Plate Number: <b>{{ detail.PlateNumber.PlateNumber }}</b></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6 text-center">
                            <img src="{{ detail.VehicleImage }}" width="100%" alt="">
                          </div>
                          <div class="col-md-6">
                            <ul>
                              <h5>Vehicle Details</h5>
                              <br>
                              <li><h5>Plate Number: <b>{{ detail.PlateNumber.PlateNumber }}</b></h5></li>
                              <li><h5>Vehicle Brand: <b>{{ detail.PlateNumber.VehicleBrand }}</b></h5></li>
                              <li><h5>Vehicle Model: <b>{{ detail.PlateNumber.VehicleModel }}</b></h5></li>
                              <li><h5>Gas Consumption: <b>{{ detail.PlateNumber.GasConsumption }}</b></h5></li>
                              <hr>
                              <h5>Vehicle Specifications</h5>
                              <br>
                              <li><h5>Chassis Number: <b>{{ detail.ChassisNumber }}</b></h5></li>
                              <li><h5>ACU Company: <b>{{ detail.ACUCompany }}</b></h5></li>
                              <li><h5>Wheeler Type: <b>{{ detail.WheelerType }}</b></h5></li>
                              <li><h5>Engine: <b>{{ detail.Engine }}</b></h5></li>
                              <hr>
                              <h5>Driver Details</h5>
                              {% for driver in ddriver %}
                                  {% if driver.PlateNumber_id == detail.PlateNumber_id%}
                                      <br>
                                      <li><h5>Driver Name: <b>{{ driver.DriversName }}</b></h5></li>
                                      <li><h5>Driver Age: <b>{{ driver.DriversAge }}</b></h5></li>
                                      <li><h5>Driver Medical Condition: <b>{{driver.DriversMedicalCondition }}</b></h5></li>
                                      <li><h5>Driver License Number: <b>{{ driver.DriversLicenseNumber }}</b></h5></li>
                                  {% endif %}
                              {% endfor %}
                              <hr>
                              <h5>Maintenance Schedule Details</h5>
                              {% for sched in msched %}
                                  {% if sched.PlateNumber_id == detail.PlateNumber_id%}
                                      <br>
                                      <li><h5>Date: <b>{{ sched.Date }}</b></h5></li>
                                      <li><h5>Repair and Maintenance Type: <b>{{ sched.TypeofRepairandMaintenance }}</b></h5></li>
                                  {% endif %}
                              {% endfor %}
                              <hr>
                              <h5>Deployment Schedule Details</h5>
                              {% for dep in deploy %}
                                  {% if dep.PlateNumber_id == detail.PlateNumber_id%}
                                      <br>
                                      <li><h5>Date: <b>{{ dep.Date }}</b></h5></li>
                                      <li><h5>Deployment Location: <b>{{ dep.DeploymentLocation }}</b></h5></li>
                                  {% endif %}
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      
                      </div>
                      </div>
                  </div>
                </div>                    
            </div>
          {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}




<!--
    <style>
        table {
          margin: auto;
          width: 95%; /* Set the width of the table to 95% of its container */
        }
      </style>
      
      <table id="myTable" border="1">
        <thead>
          <tr>
            <th>Column 1 Title</th>
            <th>Column 2 Title</th>
            <th>Column 3 Title</th>
            <th>Column 4 Title</th>
            <th>Column 5 Title</th>
            <th>Column 6 Title</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
            <td>Data 4</td>
            <td>Data 5</td>
            <td>Data 6</td>
          </tr>
          <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
            <td>Data 4</td>
            <td>Data 5</td>
            <td>Data 6</td>
          </tr>

          // Add more rows as needed, or remove these sample rows 
        </tbody>
      </table> 
         
      <script>
        // This JavaScript code will update the table with new rows whenever new data is added
        function updateTable() {
          // Get a reference to the table
          var table = document.getElementById("myTable");
          
          // Create a new row for the table
          var newRow = document.createElement("tr");
          
          // Add the data for each column to the row
          var column1 = document.createElement("td");
          var column2 = document.createElement("td");
          var column3 = document.createElement("td");
          var column4 = document.createElement("td");
          var column5 = document.createElement("td");
          var column6 = document.createElement("td");
          column1.textContent = "New Data 1";
          column2.textContent = "New Data 2";
          column3.textContent = "New Data 3";
          column4.textContent = "New Data 4";
          column5.textContent = "New Data 5";
          column6.textContent = "New Data 6";
          newRow.appendChild(column1);
          newRow.appendChild(column2);
          newRow.appendChild(column3);
          newRow.appendChild(column4);
          newRow.appendChild(column5);
          newRow.appendChild(column6);
          
          // Add the new row to the table
          table.appendChild(newRow);
        }
        
        // Call the updateTable function whenever new data is added
        updateTable();
      </script>
-->