{% extends "FMSApp/base.html" %}
{% load static %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center h-200">
    <div class="card w-80 col-9 mx-auto">
      <div class="card-body">
        <div class="col-10 mx-auto">
        </div>
        <div class="container py-4">
        
                <h3 class="card-title text-center">Search Results: {{searched}}</h3>
                <br>
                <table class="table table-bordered table-striped table-hover text-center" style="color:rgb(21, 21, 21);">
                    <thead>
                        <tr>
                            <th>Plate Number</th>
                            <th>Vehicle Brand</th>
                            <th>Vehicle Model</th>
                            <th>Gas Consumption</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td>{{ d.platenumber }}</td>
                                <td>{{ d.vbrand }}</td>
                                <td>{{ d.vmodel }}</td>
                                <td>{{ d.gas }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

<!-- __________________________________________________________________________CODE LINE BREAK__________________________________________________________________________ -->

                <br>
                <hr>
                <br>    
                <table class="table table-bordered table-striped table-hover text-center" style="color:rgb(21, 21, 21);">
                    <thead>
                        <tr>
                            <th>Driver Name</th>
                            <th>Driver Age</th>
                            <th>Driver Medical Condition</th>
                            <th>Driver License Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}

                            <tr>
                                <td>
                                    {% for vspec in d.ddetails_data %}
                                    {{ vspec.DriversName }}
                                    {% endfor %}

                                </td>
                                <td>
                                    {% for vspec in d.ddetails_data %}
                                    {{ vspec.DriversAge }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for vspec in d.ddetails_data %}
                                    {{ vspec.DriversMedicalCondition }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for vspec in d.ddetails_data %}
                                    {{ vspec.DriversLicenseNumber }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>



<!-- __________________________________________________________________________CODE LINE BREAK__________________________________________________________________________ -->

                <br>
                <hr>
                <br>    
                <table class="table table-bordered table-striped table-hover text-center" style="color:rgb(21, 21, 21);">
                    <thead>
                        <tr>
                            <th>Chassis Number</th>
                            <th>ACU Company</th>
                            <th>Wheeler Type</th>
                            <th>Engine</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}

                            <tr>
                                <td>
                                    {% for vspec in d.vspecs_data %}
                                    {{ vspec.ChassisNumber }}
                                    {% endfor %}

                                </td>
                                <td>
                                    {% for vspec in d.vspecs_data %}
                                    {{ vspec.ACUCompany }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for vspec in d.vspecs_data %}
                                    {{ vspec.WheelerType }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for vspec in d.vspecs_data %}
                                    {{ vspec.Engine }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


            
        </div>
    </div>
</div>
        
{% endblock %}