{% extends "FMSApp/base.html" %}
{% load static %}
{% block content %}


<div class="container py-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="text-center mb-0">VEHICLE DETAILS</h1>
        <div>
            <a class="btn btn-dark mr-3" href="{% url 'Input_VDetails' %}">
                <i class="fa fa-plus"></i> Add  
            </a>
            <a class="btn btn-dark" style="color:white" href="{% url 'exportVDetails' %}"> Export </a>
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover text-center" style="color:rgb(21, 21, 21);">
        <thead>
            <tr>
                <th>Plate Number</th>
                <th>Vehicle Brand</th>
                <th>Vehicle Model</th>
                <th>Gas Consumption</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for vdetail in vdetails %}
            <tr>
                <td>{{ vdetail.PlateNumber }}</td>
                <td>{{ vdetail.VehicleBrand }}</td>
                <td>{{ vdetail.VehicleModel }}</td>
                <td>{{ vdetail.GasConsumption }}</td>
                <td><a class ="btn" style="background-color: #444444;color: white;" href="{% url 'Update_VDetailsPage' pk=vdetail.pk %}">Update</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}